
nav{
    background-color:#111111;
    font-size:20px;
}
body{
    background-color:#000022;
    
}
h1{
    font-size:30px;
    color:#f5f5f5;
    text-align:center;
    line-height:1.1px;
}
h3{
    color:#f5f5f5;
    font-family:'Oswald','Lato';
    font-size:25px;
    margin-right:20px;
    margin-left:20px;
    text-align:justify;
}
nav ul li a{
    color:#d4af37;
}
h2{
    font-size:60px;
    color:#f5f5f5;
    text-align:center;
}
footer{
    color:#d4af37;
    text-align:justify;
}